html{
	height: 100%;
}

body{
	width: 100%;
	min-height: 100%;
}

.mainContent {
    background-color: #fbf4ea;
    max-width: 100%;
}

.mainContent__main-title {
    max-width: 100%;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
}

.mainContent__main-title .text_blur {
    max-width: 100%;
    opacity: 60%;
    background: #fbf4ea;
    border-color: #fbf4ea;
    border-width: 1px;
    border-style: outset;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em 25% 1.5em 25%;
}

.mainContent__main-title .centered {
    color: #000000;
    font-family: "DM Serif Display";
    font-weight: Bold;
    line-height: 1.3;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 601px) {
    .mainContent__main-title .centered {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px) {
    .mainContent__main-title .centered {
        font-size: 100%;
    }
}

.mainContent__main-title img {
    width: 90%;
    opacity: 75%;
    margin-right: auto;
    margin-left: auto;
}

.mainContent__main-cardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContent__main-cardGroup .card{
    background-color: #fbf4ea;
    border: 0em;
    padding-bottom: 1em;
    max-width: 100%;
}

.mainContent__main-cardGroup .card h5{
    padding-top: 0.3em;
	color: #000000;
	font-family: "Source Serif Pro";
	font-weight: 900;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
}

.mainContent__main-cardGroup .card img {
    padding: 0.5em 5em 0.5em 5em;
}

.mainContent__main-cardGroup .card .card-body {
    padding: 0em 0em;
}

.mainContent__main-cardGroup .card .card-body .card-text {
    color: #000000;
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 0em;
}

.mainContent__main-cardGroup .card .card-body p {
    margin-bottom: 0px;
    color: #000000;
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    
}

.mainContent__main-cardGroup .card .card-body .progress {
    background: #ffffff;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px 6px 6px 6px;
}

.mainContent__main-cardGroup .card .card-body .progress .progress-bar {
    background: #e4dad0;
    border-color: #000000;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-radius: 6px 6px 6px 6px;
}