.navbar {
	width: 100%;
	height: 57px;
	padding: 8px 8px 8px 8px;
	background: #fbf4ea;
	border-color: #fbf4ea;
	border-width: 1px;
	border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}	
.header__nav__main--title p{
	color: #000000;
	font-family: "Helvetica";
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	padding-top: 2%;
}
.header__nav__main--options {
	color: #000000;
	font-family: "Source Serif Pro";
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
    margin-left: 20px;
}
.header__nav__main--options li a{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
	background-color: #c67605;
}
#lblCartCount {
	font-size: 12px;
	background: #e4dad0;
	color: #232323;
	padding: 0 5px;
	vertical-align: top;
	margin-left: -10px; 
}

.header__nav__main--cart{
	width: 30px;
	height: 30px;
}
.flower-cute img{
	width: 426px;
	height: 425px;
}

.row {
	font-size: 80% !important;
}

.submenu{
	position: relative;
}
.submenu #carrito{
	display: none;
}
.submenu:hover #carrito {
	display: block;
	color: #fff;
	position: absolute;
	right: 0;
	top: 100%;
	background:#17181b;
	padding: 20px;
}

.f{
	float: right;
}
