.navbar {
	width: 100%;
	height: 57px;
	padding: 8px 8px 8px 8px;
	background: #fbf4ea;
	border-color: #fbf4ea;
	border-width: 1px;
	border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.header__nav__main--title .header__nav__main--options {
    flex-grow: 8;
}
.header__nav__main--title p{
	color: #000000;
	font-family: "Helvetica";
	font-weight: 500;
	font-size: 14px;
	text-align: center;
}
.header__nav__main--options {
	color: #000000;
	font-family: "Source Serif Pro";
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
    margin-left: 20px;
}
.header__nav__main--options li a{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.header__nav__main--cart{
    flex-grow: 1;
	width: 30px;
	height: 30px;
}
.flower-cute img{
	width: 426px;
	height: 425px;
}
