.footer {
    background-color: #e4dad0;
    width: 100%;
}

.footer__main--text h1{
    color: #000;
    font-family: "DM Serif Display";
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 0px;
}

.footer__main--data {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    padding-right: 20px;
    margin-left: 10px;
    justify-content: space-between;
}
.footer__main--info {
    align-self: flex-end;
    width: 80%;
}

.footer__main--info img{
    width: 16px;
    height: 16px;
}

.footer__main--info-text{
    color: #232323;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 9px !important;
    text-align: center !important;
    text-align: left;
    margin: 3px 1% 2px 2px;
}

.footer__main--arrow{
    width: 42px;
    height: 42px;

}