{% extends 'base.html' %}

{% block css_style %}
	{{ url_for('static', filename='css/errores_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Pagina no encontrada
{% endblock title %}

{% block main__content %}
<body>
	<div class="container-404">
		<p style="text-align: center;">
			<img src="{{ url_for('static', filename='img/Logo_Flowy.svg') }}" width="120px;">
		<h1>Error 404</h1>
		<p>Esta pàgina no se encuentra disponible en estos momentos. Disculpa las molestias.</p>
		<p>
			Floowy ©
		</p>
		<a href="{{ url_for('index') }}" class="boton">
			Página Principal
		</a>
	</div>
</body>
</html>
{% endblock main__content %}
