{% extends 'base.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/404_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Pagina no encontrada
{% endblock title %}

{% block main__content %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Error 404</title>
	<link rel="stylesheet" href="../static/css/errores_css.css">
	</style>
</head>
<body>
	<div class="container-404">
		<p style="text-align: center;">
			<img src="https://i.postimg.cc/3N8B6Q88/logo.png" width="120px;">
		<h1>Error 404</h1>
		<p>Esta pàgina no se encuentra disponible en estos momentos. Disculpa las molestias.</p>
		<p>
			Floowy ©
		</p>
		<a href="/index" class="boton">
			Página Principal
		</a>
	</div>
</body>
</html>
{% endblock main__content %}
