{% extends 'base.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/index_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Carrito de compras
{% endblock title %}

{% block header_type %}
    {% include 'header.html' %}
{% endblock header_type %}

{% block main__content %}

    <!--===== Pre-Loading area Start =====-->
    <div id="preloader">
        <div class="preloader">
            <div class="spinner-block">
                <h1 class="spinner spinner-3 mb-0">.</h1>
            </div>
        </div>
    </div>
    <!--==== Pre-Loading Area End ====-->
    <!-- cart main wrapper start -->
    <div class="cart-main-wrapper mt-no-text" style="width: 100; min-height: 100vh;">
        <div class="container custom-area">
            <div class="row">
                <div class="col-lg-12 col-custom">
                    <!-- Cart Table Area -->
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Imagen</th>
                                    <th class="pro-title">Nombre</th>
                                    <th class="pro-price">Precio Unitario</th>
                                    <th class="pro-quantity">Cantidad</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if 'Shoppingcart' in session %}
                                    {% for key, product in session['Shoppingcart'].items() %}
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="{{ url_for('static', filename='img/'+product.imagen) }}" alt="Product"/></a></td>
                                        <td class="pro-title"><a href="#">{{product.nombre}}</a></td>
                                        <td class="pro-price"><span>${{product.precio}}</span></td>
                                        <td class="pro-quantity">
                                            <span>{{product.cantidad}}</span>
                                        </td>
                                        {% set subtotal = product.cantidad|int * product.precio|int %}
                                        <td class="pro-subtotal"><span>${{subtotal}}</span></td>
                                        <td class="pro-remove"><a href="{{url_for('deleteItem', id=key)}}"><i class="lnr lnr-trash"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Cart Update Option -->
                    <div class="cart-update-option d-block d-md-flex justify-content-between">
                        <div class="cart-update mt-sm-16">
                            <a href="{{url_for('buyShopping')}}" class="btn flosun-button primary-btn rounded-0 black-btn">Actualiza El Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 ml-auto col-custom">
                    <!-- Cart Calculation Area -->
                    <form id="buyItem" action="{{url_for('checkout')}}" method="GET">
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3>Total Carrito</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>SubTotal</td>
                                            <td>${{total}}</td>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <td class="total-amount">${{total}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <a id="buyButton" class="btn flosun-button primary-btn rounded-0 black-btn w-100">Comprar</a>
                            <br>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock main__content %}

{% block js_scripts %}
    <script src="../static/js/main.js"></script>
    <script>
        document.getElementById("buyButton").onclick = function() {
            document.getElementById("buyItem").submit();
        }
    </script>
{% endblock js_scripts %}

{% block footer_type %}
    {%include 'footer.html'%}
{% endblock footer_type %}