{% extends 'base.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/style.css') }}
{% endblock css_style %}

{% block main__content %}

     <!--Footer Area Start-->
     <footer class="footer-area">
        <div class="footer-copyright-area">
            <div class="container custom-area">
                <div class="row">
                    <div class="col-12 text-center col-custom">
                        <div class="copyright-content">
                            <p>Copyright © 2021 Hecho por&nbsp;<strong>Floowy</strong>&nbsp;by <a target="blank" href="https://github.com/SantiagoSanchezB">Santiago Sanchez</a>, <a target="blank"  href="https://github.com/juandapulido">Juan  Pulido</a> y <a target="blank"  href="https://github.com/DavidsDvm"> David Vargas</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer Area End-->
        
{% endblock main__content %}