{% extends 'base.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/style.css') }}
{% endblock css_style %}

{% block main__content %}
<!-- Header Area Start Here -->
<header class="main-header-area">
    <!-- Main Header Area Start -->
   
    {% if "/tienda" in request.path or request.path == "/contacto" %}
        <div class="main-header header-sticky">        
    {% else %}
        <div class="main-header header-transparent header-sticky">
    {% endif %}
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
                    <div class="header-logo d-flex align-items-center">
                        <a href="{{ url_for('index') }}">
                            <img class="img-full" src="{{ url_for('static', filename='img/LOGODEF.svg') }}" style="width: 200px; margin-left:30%;" alt="Header Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
                    <nav class="main-nav d-none d-lg-flex">
                        <ul class="nav color-n">
                            <li>
                                <a {% if request.path == "/"%} class="active"{% endif %} href="{{ url_for('index') }}">
                                    <span class="menu-text"> Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == "/tienda"%} class="active"{% endif %} href="{{ url_for('navigationPages', _route = 'tienda') }}">
                                    <span class="menu-text">Catálogo</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == "/contacto"%} class="active" {% endif %} href="{{ url_for('navigationPages', _route = 'contacto') }}">
                                    <span class="menu-text">Contactenos</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == "/auth/login"%} class="active"{% endif %} href="{{ url_for('auth.login') }}">
                                    <span class="menu-text">Inicia Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-6 col-6 col-custom">
                    <div class="header-right-area main-nav">
                        <ul class="nav">
                            <li class="minicart-wrap">
                                <a href="#" class="minicart-btn toolbar-btn">
                                    <i class="fa fa-shopping-cart btn-index-end"></i>
                                    <span class="cart-item_count">{{session['Shoppingcart']|length}}</span>
                                </a>
                                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                    <div class="single-cart-item">
                                        <div class="cart-img">
                                            <a href="cart.html"><img src="../static/img/shop_flower_1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-text">
                                            <h5 class="title"><a href="cart.html">Lavanda </a></h5>
                                            <div class="cart-text-btn">
                                                <div class="cart-qty">
                                                    <span>1×</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="ion-trash-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-cart-item">
                                        <div class="cart-img">
                                            <a href="cart.html"><img src="../static/img/Bouquet_de_6_girasoles.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-text">
                                            <h5 class="title"><a href="cart.html">Bouqet De 6 Girasoles</a></h5>
                                            <div class="cart-text-btn">
                                                <div class="cart-qty">
                                                    <span>1×</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="ion-trash-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-cart-item">
                                        <div class="cart-img">
                                            <a href="cart.html"><img src="../static/img/Rosas_Lirios_Blancos.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-text">
                                            <h5 class="title"><a href="cart.html">Rosas Lirios Blancos </a></h5>
                                            <div class="cart-text-btn">
                                                <div class="cart-qty">
                                                    <span>1×</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="ion-trash-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-price-total d-flex justify-content-between">
                                        <h5>Total :</h5>
                                        <h5>$166.00</h5>
                                    </div>
                                    <div class="cart-links d-flex justify-content-between">
                                        <a class="btn product-cart button-icon flosun-button dark-btn" href="cart.html">Ver Carrito</a>
                                        <a class="btn flosun-button secondary-btn rounded-0" href="checkout.html">Verificar</a>
                                    </div>
                                </div>
                            </li>
                            <li class="sidemenu-wrap">
                                <a href="#"><i class="fa fa-search"></i> </a>
                                <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-search">
                                    <li>
                                        <form action="#">
                                            <input name="search" id="search" placeholder="Search" type="text">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="account-menu-wrap d-none d-lg-flex">
                                <a href="#" class="off-canvas-menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <li class="mobile-menu-btn d-lg-none">
                                <a class="off-canvas-btn" href="#">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Header Area End -->
    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper" id="mobileMenu">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="fa fa-times"></i>
            </div>
            <div class="off-canvas-inner">
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search product...">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li>
                                <a {% if request.path == "/"%} class="active"{% endif %} href="{{ url_for('index') }}">
                                    <span class="menu-text"> Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == "/tienda"%} class="active"{% endif %} href="{{ url_for('navigationPages', _route = 'tienda') }}">
                                    <span class="menu-text">Catálogo</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == "/contacto"%} class="active" {% endif %} href="{{ url_for('navigationPages', _route = 'contacto') }}">
                                    <span class="menu-text">Contactenos</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == "/auth/login"%} class="active"{% endif %} href="{{ url_for('auth.login') }}">
                                    <span class="menu-text">Inicia Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
                <div class="offcanvas-widget-area">
                    <div class="top-info-wrap text-left text-black">
                        <ul class="address-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="+57 3168097495">+57 3168097495</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="FlowyDomain@gmail.com">FlowyDomain@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
     <!-- off-canvas menu start -->
     <aside class="off-canvas-menu-wrapper" id="sideMenu">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="off-canvas-inner">
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <ul class="menu-top-menu">
                        <li><a href="about-us.html">Conocenos</a></li>
                    </ul>
                    <p class="desc-content">Somos una empresa colombiana que brinda a sus clientes productos y<br>
                        servicios de excelente calidad.<br>
                        En Flowy podemos ayudarlo a expresar sus sentimientos con hermosas<br>
                        flores a precios favorables y entregas a tiempo.<br>
                        Entendemos lo importante que es usted al elegirnos para una experiencia<br>
                        especial y estamos comprometidos a hacer todo lo posible para que usted y<br>
                        sus seres queridos tengan momentos memorables. </p>
                    <div class="top-info-wrap text-left text-black">
                        <ul class="address-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="SoporteFloowy@Floowy.com">(57) 3168097495</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="SoporteFloowy@Floowy.com">SoporteFloowy@Floowydomain.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
    <!-- off-canvas menu start -->
    <aside class="off-canvas-menu-wrapper" id="sideMenu">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="off-canvas-inner">
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <ul class="menu-top-menu">
                        <li><a href="about-us.html">FLOOWY</a></li>
                    </ul>
                    <p class="desc-content">Sistema de venta de todo tipo de flores con los mejores beneficios, consigue tu producto deseado el mejor precio y sin demora de entrega</p>
                    <p><strong>El uso De FLOOWY permitira tener un control total de ventas y compras, teniendo como base ciertos productos en el sistema</strong></p>
                        <p>Tambien al usar este sistema tendras reportes, control de todos los modulos del sistema desde un punto enfocado y sin problemas, dejando asi uno de los mejores aplicativos para este sistema</p>
                    <div class="top-info-wrap text-left text-black">
                        <ul class="address-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="info@yourdomain.com">+57 3168097495</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="info@yourdomain.com">FlowyDomain@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
</header>
<!-- Header Area End Here -->

{% endblock main__content%}