<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- index css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_css.css') }}">
    <!-- Boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- iconos-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>Floowy</title>
</head>
<body>
    <div id="header">
        <header class="header" id="header_navbar">
            <nav class="navbar navbar-expand-lg navbar-light header__nav">
                <div class="container-fluid header__nav__main">
                    <div class="header__nav__main--title">
                        <a class="navbar-brand" href="/">
                            <img src="{{ url_for('static', filename='img/Logo_Flowy.svg') }}" id="header_logo" alt="" width="45" height="30" class="d-inline-block align-text-top">
                            FLOOWY
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="header__nav__main--options collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/nosotros">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/tienda">Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/flores">Flores</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse header__nav__main--cart d-flex justify-content-end" id="navbarCollapse">
                        <div class="dropstart">
                            <img src="{{ url_for('static', filename='img/shopping_cart_1.svg') }}"  height="30px" width="30px" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
                            <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
                                <table id="lista-carrito" class="table">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="{{ url_for('static', filename='img/flowersIcon_1.jpg') }}" width="30px" class="shopping_card-picture"></img></td>
                                            <td>Flores</td>
                                            <td>500000</td>
                                        </tr>
                                        <tr>
                                            <td><img src="{{ url_for('static', filename='img/flowersIcon_1.jpg') }}" width="30px" class="shopping_card-picture"></img></td>
                                            <td>Lirios</td>
                                            <td>500000</td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                                <hr class="dropdown-divider">
                                <a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Vaciar</a>
                                <a href="/compra" id="procesar-pedido" class="btn btn-danger btn-block">Pagar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
            
    <!-- Boostrap JavaScript -->
    <script src="../static/js/carrito.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>