{% extends 'base.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/index_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Inicio
{% endblock title %}

{% block header_type %}
    {% include 'header.html' %}
{% endblock header_type %}

{% block main__content %}
    <section class="mainContent">
        <div class="mainContent__main">
            <div class="mainContent__main-flowerCute">
                <img src="{{ url_for('static', filename='img/main_flower_1.png') }}" alt="texto">
            </div>
            <div class="mainContent__main--text">
                <h1>Atencion!</h1>
                <p>
                    Tenemos las mejores flores, <br>
                    de todos los colores, <br>
                    al mejor precio, <br>
                    para tu aprecio.
                </p>
                <button class="btn">Compra ahora</button>
            </div>
        </div>
    </section>
{% endblock main__content %}

{% block footer_type %}
    {% include 'index_footer.html' %}
{% endblock footer_type %}