<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mail_style.css') }}">
</head>
<body>

<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">

	
	<tr>
		<td style="background-color: #FFF6F5;">
			<div style="color: black; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                
                <p style="text-align: center;">
                <img src="https://i.postimg.cc/3N8B6Q88/logo.png" width="120px;">
				<h2 style="color:black; margin: 0 0 7px">¡Hola!</h2>
				<p>
				Hola te habla el equipo de FLOWY,se solicitó un restablecimiento de contraseña para tu cuenta,haz clic en el botón   que aparece  a continuación  para restablecer   tu contraseña.
                </p>
                <br>
				<div style="width: 100%; text-align: center">
				<a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color:black" href="restablecercontraseña.html">Restablecer Contraseña</a>
                <br>
                <br>
                <p style="text-align: left;">Si no realizaste la solicitud de cambio de contraseña,simplemente omite este mensaje.</p>    
                <p style="text-align: left;">Saludos.</p>
                <p>¿tienes alguna pregunta?        Obtén más  información  sobre FLOWY por nuestras redes sociales
                </p>
                <p>Facebook:Facebook.com/Flowy</p>
                <p>Instagram:Instagram.com/Flowy</p>
				</div>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">FLOWY 2021 © </p>
			</div>
		</td>
	</tr>
</table>

</body>
</html>