{% extends 'basePanel.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/panel_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Panel Interno | compras
{% endblock title %}

{% block lateralBar %}
    {% include 'panelLateralBar.html' %}
{% endblock lateralBar %}

{% block topNavbar %}
    {% include 'panelNavbar.html' %}
{% endblock topNavbar %}
    
{% block userMessage %}
    {% include 'panelUserMessage.html' %}
{% endblock userMessage %}

{% block content %}
    <section class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 my-3 " >
                    <div class="card rounded-0" id="app" >
                        <div class="card-header bg-light">
                            <h6 class="font-weight-bold mb-0 py-2">Compras <button class="more btn btn-light" data-bs-toggle="modal" data-bs-target="#modalAdd"><i class="icon ion-md-add"></i></button></h6>
                        </div>

                        <div class="card-body">
                            {% for key, compra in compras.items() %}
                            <div class="d-flex border-bottom py-2">
                                <div class="mr-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><a href="/panel/compras/{{compra.idCompras}}" style="color: inherit;"><i class="icon ion-md-person" ></i></a></h2>
                                </div>
                                <div class="align-self-center">
                                    <div id = foto>
                                        <a href="/panel/compras/delete/{{compra.idCompras}}" onclick="return confirm('Estas seguro de que quieres eliminar este registro?')">
                                            <img src="{{ url_for('static', filename='img/flowersIcon_1.jpg') }}" class="position-absolute flower img-fluid rounded-circle avatar mr-2">
                                            <div id="info" class="position-absolute flower pl-1 pt-10 rounded-circle">
                                                <h2><i class="icon ion-md-close"></i></h2>
                                            </div>
                                        </a>
                                    </div>
                                    <button class="more btn btn-light position-absolute  mr-2 btn-edit"  data-bs-toggle="modal" data-bs-target="#modalEdit{{compra.idCompras}}"><i class="icon ion-md-create "></i></button>
                                    <h6 class="text-muted d-inline-block">{{compra.especificacionCompra}}</h6>
                                    <span class="badge badge-dark ml-2">${{compra.totalCompra}}</span>
                                    <small class="d-block text-muted">Nombre empleado: {{compra.empleadoNombre}}</small>
                                    <small class="d-block text-muted">{{compra.fechaCompra}}</small>
                                    <small class="d-block text-muted">Proovedor: {{compra.proovedorNombre}}</small>
                                </div>
                            </div>

                            <!-- Modales -->
                            <!-- Modal de Registro -->
                            <div id="modalAdd" class="modal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Añadir Compra</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('panel.addCompras') }}" method="POST">
                                                <div class="form-group">
                                                    <label>Total de la compra</label>
                                                    <input type="number" class="form-control" name="totalPurchase" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Nombre del Proovedor</label>
                                                    <input type="text" class="form-control" name="proovedorName" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Productos:</label>
                                                    <button type="button" class="more btn btn-light position-absolute  mr-2 btn-edit"  data-bs-toggle="modal" data-bs-target="#modalProductos"><i class="icon ion-md-add"></i></button>
                                                    <div id="product"></div>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label>Especificacion Compra</label>
                                                    <textarea class="form-control" rows="3" name="buyEspecification" required>Productos:</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Cantidad Pedida</label>
                                                    <input type="number" name="quantity" class="form-control"  required>
                                                </div> -->
                                                <div class="form-group">
                                                    <button class="btn btn-success" type="submit">Añadir</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Productos -->

                            <div id="modalProductos" class="modal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Productos</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>Producto</label>
                                            {% for pro in producto %}
                                                <div class="input-group mb-3">
                                                    <label type="text" class="form-control">{{ pro.nombreProducto }}</label>
                                                    <button class="btn btn-outline-secondary" type="button" id="producto{{pro.idProducto}}"><i class="icon ion-md-add"></i></button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal de Editar -->
                            <div id="modalEdit{{compra.idCompras}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Editar Compra</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/panel/compras/update/{{compra.idCompras}}" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <div class="form-group">
                                                    <label>Total de la compra</label>
                                                    <input type="number" class="form-control" name="totalPurchase" value="{{compra.totalCompra}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Nombre del Proovedor</label>
                                                    <input type="test" class="form-control" name="proovedorName" value="{{compra.idProovedor}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Especificacion Compra</label>
                                                    <textarea class="form-control" rows="3" name="buyEspecification" required>{{compra.especificacionCompra}}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Cantidad Pedida</label>
                                                    <input type="number" class="form-control" name="quantity" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fecha de Compra</label>
                                                    <input type="date" class="form-control" name="fechaCompra" value="{{compra.fechaCompra}}" max="{{today}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-success" type="submit">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal de MostrarEspecificacion-->
                            {% if productos %}
                                <script>
                                    $(document).ready(function(){
                                        $("#modalShowEsp").modal("show");
                                    });
                                </script>
                                <div id="modalShowEsp" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Especificacion Pedidos</h4>
                                            </div>
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        {% for key, producto in productos.items() %}
                                                        <div class="d-flex border-bottom py-2">
                                                            <div class="mr-3 d-flex">
                                                                <img class="mb-0 align-self-center" style="width: 3em; height: 3em;" src="{{ url_for('static', filename='img/'+producto.imagen) }}" alt="flower">
                                                            </div>
                                                            <div class="align-self-center">
                                                                <h6 class="text-muted d-inline-block">{{producto.nombre}}</h6>
                                                                <span class="badge badge-dark ml-2">${{producto.subtotal}}</span>
                                                                <small class="d-block text-muted">Cantidad: {{producto.cantidad}}</small>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js_scripts %}
    <script>
        var Producto = document.getElementById("product").innerHTML;
    </script>

   
   
{% endblock js_scripts %} 