<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.20/vue.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--Css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_css.css') }}">
    <!--Iconos-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Tipografia-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli">
    <title>Dashboard</title>
  </head>
    <body>
        <div id="sidebar-container" class="bg-primary">
            <div class="Logo">
                <h4 class="font-weight-bold text-light mb-0 py-3">Flowy</h4>
            </div>
            {% if usuarioLogeadoActualmente.idTipoUsuario == 1 %}
                <div class="Side-bar">
                    <a href="{{ url_for('panel.inicioPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-apps mr-2 lead p-2"></i>Inicio</a>
                    <a href="{{ url_for('panel.pedidosPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-checkbox mr-2 lead p-2"></i>Pedidos</a>
                    <a href="{{ url_for('panel.comprasPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-cash mr-2 lead p-2"></i>Compras</a>
                </div>
            {% endif %}
            {% if usuarioLogeadoActualmente.idTipoUsuario == 2 %}
                <div class="Side-bar">
                    <a href="{{ url_for('panel.inicioPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-apps mr-2 lead p-2"></i>Inicio</a>
                    <a href="{{ url_for('panel.perfilPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-cash mr-2 lead p-2"></i>Perfil</a>
                </div>
            {% endif %}
            {% if usuarioLogeadoActualmente.idTipoUsuario == 3 %}
                <div class="Side-bar">
                    <a href="{{ url_for('panel.inicioPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-apps mr-2 lead p-2"></i>Inicio</a>
                    <a href="" class="d-block text-light p-3"><i class="icon ion-md-people mr-2 lead p-2"></i>Usuarios</a>
                    <a href="{{ url_for('panel.pedidosPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-checkbox mr-2 lead p-2"></i>Pedidos</a>
                    <a href="{{ url_for('panel.comprasPanel') }}" class="d-block text-light p-3"><i class="icon ion-md-cash mr-2 lead p-2"></i>Compras</a>    
                </div>
            {% endif %}
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
      


