{% extends 'basePanel.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/panel_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Perfil
{% endblock title %}

{% block lateralBar %}
    {% include 'panelLateralBar.html' %}
{% endblock lateralBar %}

{% block topNavbar %}
    {% include 'panelNavbar.html' %}
{% endblock topNavbar %}

{% block content %}
    <div class="container">
        <br>
        <div class="card w-100">
            <div class="card-body">
                <a data-bs-toggle="modal" data-bs-target="#modalEdit" class="btn btn-light position-absolute  mr-2 btn-edit-perf"><i class="icon ion-md-create "> Editar Datos</i></a>
                <h2 class="card-title"><i class="icon ion-md-contact">PERFIL</i></h2>
                <br>
                {% if tipoUsuario == 'cliente' %}
                    <div class="card-text">
                        <div class="img">
                            <img src="{{ url_for('static', filename='img/'+imagen) }}" class="rounded-circle  img-fluid">
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{nombre}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Dirección</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{direccion}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Correo</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{correo}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{telefono}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Tipo de metodo de pago</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{tipoMetodoPago}}">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if tipoUsuario == 'empleado' %}
                    <div class="card-text">
                        <div class="img">
                            <img src="{{ url_for('static', filename='img/'+imagen) }}" class="rounded-circle  img-fluid">
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{nombre}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Correo</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{correo}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{telefono}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Tipo de documento empleado</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{tipoDoc}}">
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Numero de documento</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext fro" value="{{documento}}">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
          </div>

          <!-- Modal de Editar -->
          {% if tipoUsuario == 'cliente' %}
            <div id="modalEdit" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Datos Perfil</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('panel.perfilPanel') }}" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <label>Nombres</label>
                                    <input type="text" class="form-control" name="nombreUsuario" value="{{nombre}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Direccion</label>
                                    <input type="text" class="form-control" name="direccionCliente" value="{{direccion}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Telefono</label>
                                    <input type="number" maxlength="10" class="form-control" name="celularCliente" value="{{telefono}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Foto</label>
                                    <input type="file" class="form-control" name="file" placeholder="Foto">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit" value="Upload">Guardar</button>
                                    <button type="button" class="btn btn-secondary more" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if tipoUsuario == 'empleado' %}
            <div id="modalEdit" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Datos Perfil</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('panel.perfilPanel') }}" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <label>Nombres</label>
                                    <input type="text" class="form-control" name="nombreEmpleado" value="{{nombre}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Telefono</label>
                                    <input type="number" maxlength="10" class="form-control" name="telefonoEmpleado" value="{{telefono}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Tipo de documento</label>
                                    <input type="text" maxlength="10" class="form-control" name="tipDocumento" value="{{tipoDoc}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Numero de documento</label>
                                    <input type="number" maxlength="10" class="form-control" name="documento" value="{{documento}}" required>
                                </div>
                                <div class="form-group">
                                    <label>Foto</label>
                                    <input type="file" class="form-control" name="file" placeholder="Foto">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Guardar</button>
                                    <button type="button" class="btn btn-secondary more" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}