{% extends 'basePanel.html' %}

{% block css_style %}
    {{ url_for('static', filename='css/panel_css.css') }}
{% endblock css_style %}

{% block title %}
    {{ super() }}
    Panel Interno
{% endblock title %}

{% block lateralBar %}
    {% include 'panelLateralBar.html' %}
{% endblock lateralBar %}

{% block topNavbar %}
    {% include 'panelNavbar.html' %}
{% endblock topNavbar %}
    
{% block userMessage %}
    {% include 'panelUserMessage.html' %}
{% endblock userMessage %}

{% block content %}
    <section class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 my-3 " >
                    <div class="card rounded-0" id="app" >
                        <div class="card-header bg-light">
                            <h6 class="font-weight-bold mb-0 py-2">Compras <button class="more btn btn-light" data-bs-toggle="modal" data-bs-target="#modalAdd"><i class="icon ion-md-add"></i></button></h6>
                        </div>

                        <div class="card-body">
                            <div class="d-flex border-bottom py-2">
                                <div class="mr-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><i class="icon ion-md-person" data-bs-target="#modalShowEsp"></i></h2></div>
                                <div class="align-self-center">
                                    <div id = foto>
                                        <img src="{{ url_for('static', filename='img/carnationIcon_1.jpg') }}" class="position-absolute flower img-fluid rounded-circle avatar mr-2">
                                        <div id="info" class="position-absolute flower pl-1 pb-6 rounded-circle">
                                            <h2><i class="icon ion-md-close"></i></h2>
                                        </div>
                                    </div>
                                    <button class="more btn btn-light position-absolute  mr-2 btn-edit"  data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="icon ion-md-create "></i></button>
                                    <h6 class="text-muted d-inline-block">500 Claveles</h6>
                                    <span class="badge badge-dark ml-2">$126.000</span>
                                    <small class="d-block text-muted">Juan David</small>
                                    <small class="d-block text-muted">2021-01-20</small>
                                    <small class="d-block text-muted">Proovedor: Flor.com</small>
                                </div>
                            </div>

                            <div class="d-flex border-bottom py-2">
                                <div class="mr-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><i class="icon ion-md-person"></i></h2></div>
                                <div class="align-self-center">
                                    <div id = foto>
                                        <img src="{{ url_for('static', filename='img/flowersIcon_1.jpg') }}" class="position-absolute flower img-fluid rounded-circle avatar mr-2">
                                        <div id="info" class="position-absolute flower pl-1 pt-10 rounded-circle">
                                            <h2><i class="icon ion-md-close"></i></h2>
                                        </div>
                                    </div>
                                    <button class="more btn btn-light position-absolute  mr-2 btn-edit"  data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="icon ion-md-create "></i></button>
                                    <h6 class="text-muted d-inline-block">1000 Rosas</h6>
                                    <span class="badge badge-dark ml-2">$500.000</span>
                                    <small class="d-block text-muted">David V</small>
                                    <small class="d-block text-muted">2021-03-25</small>
                                    <small class="d-block text-muted">Proovedor: FloresElNacho</small>
                                </div>
                            </div>
                        </div>
                    
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modales -->
    <!-- Modal de Registro -->
    <div id="modalAdd" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Añadir Compra</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label>Total de la compra</label>
                            <input type="number" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>Nombre del Proovedor</label>
                            <input type="text" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Especificacion Compra</label>
                            <textarea class="form-control" rows="3" required>Productos:</textarea>
                        </div>
                        <div class="form-group">
                            <label>Cantidad Pedida</label>
                            <input type="number" class="form-control"  required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Añadir</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Editar -->
    <div id="modalEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Compra</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label>Total de la compra</label>
                            <input type="number" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>Nombre del Proovedor</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Especificacion Compra</label>
                            <textarea class="form-control" rows="3" required>Productos:</textarea>
                        </div>
                        <div class="form-group">
                            <label>Cantidad Pedida</label>
                            <input type="number" class="form-control"  required>
                        </div>
                        <div class="form-group">
                            <label>Fecha de Compra</label>
                            <input type="datetime-local" class="form-control"  required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de MostrarEspecificacion-->
    <div id="modalShowEsp" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Especificacion Compra</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label>Especificacion Compra: </label>
                            <textarea class="form-control" rows="3" required>Productos:</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}