<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- index css -->
    <link rel="stylesheet" href="../help/css/nosotros_css.css">
    <!-- Boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <title>Flowy</title>
</head>
<body>
    
    <div id="header__navbar--jQuery"></div>

    <section class="mainContent">
        <div class="mainContent__main">
            <div class="mainContent__main--img">
                <img src="../help/img/background_flowers.png" class="img-fluid" alt="Imagen de muchas flores">
                <div class="text_blur"></div>
                <div class="centered text-wrap">Conócenos</div>
            </div>
            <div class="mainContent__main--text text-center">
                <p>
                    Somos una empresa colombiana que brinda a sus clientes productos y<br>
                    servicios de excelente calidad.<br>
                    En Flowy podemos ayudarlo a expresar sus sentimientos con hermosas<br>
                    flores a precios favorables y entregas a tiempo.<br>
                    Entendemos lo importante que es usted al elegirnos para una experiencia<br>
                    especial y estamos comprometidos a hacer todo lo posible para que usted y<br>
                    sus seres queridos tengan momentos memorables. 
                </p>
            </div>
            <div class="mainContent__main--cards text-center">
                <div class="mainContent__main--cards-half">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Cuidadosos con los detalles</h5>
                            <p class="card-text">Sabemos que cada pedido puede contar una historia, por eso cada detalle es importante para nosotros. Siempre estamos atentos a seguir tus especificaciones.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Arreglos hechos a mano</h5>
                            <p class="card-text">Para ofrecer los mejores diseños nuestros arreglos son diseñados por expertas en diseño floral con todo el amor y delicadeza que requieren</p>
                        </div>
                    </div>
                </div>
                <div class="mainContent__main--cards-half">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Flores de exportación</h5>
                            <p class="card-text">Para brindarte la mejor calidad nuestras flores son originarias del sector floricultor son traídas sin intermediarios.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Calidad 100% garantizada</h5>
                            <p class="card-text">Para nosotros es importante brindar un producto con las óptimas condiciones, por eso nuestros arreglos florales tienen garantía.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footer__main--jQuery"></div>

    <!-- Boostrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <!-- jQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../help/js/imports_jQuery.js"></script>
</body>
</html>